.well p.last,
.well pre.last {
    margin-bottom: 0px;
}

.jumbotron {
    padding-bottom: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin: 0px 0px 10px 0px;
}

#upload-list {
    padding-top: 20px;
}

#upload-list .img-thumbnail {
    width: 200px;
    margin: 0px 15px 15px 0px;
    text-align: center;
}

#upload-list .img-thumbnail img {
    width: 100%;
}

#upload-list .img-thumbnail .file {
    height: 107px;
    font-size: 57px;
    line-height: 120px;
}

#upload-list .img-thumbnail p {
    font-size: 16px;
    margin-bottom: 0px;
}

#progress-bar {
    -webkit-transition: opacity 0.4s ease;
       -moz-transition: opacity 0.4s ease;
         -o-transition: opacity 0.4s ease;
            transition: opacity 0.4s ease;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
    opacity: 0;
}

#progress-bar.active {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
    opacity: 1;
}

#progress-bar .progress-bar {
    -webkit-transition: width 0s ease;
       -moz-transition: width 0s ease;
         -o-transition: width 0s ease;
            transition: width 0s ease;
}

#progress-bar.active .progress-bar {
    -webkit-transition: width 0.6s ease;
       -moz-transition: width 0.6s ease;
         -o-transition: width 0.6s ease;
            transition: width 0.6s ease;
}
